# Exercise 1: 
Convert two lists into a dictionary
Below are the two lists. Write a Python program to convert them into a dictionary


---
in a way that item from list1 is the key and item from list2 is the value

In [1]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dictionary = dict(zip(keys, values))

print(dictionary)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Exercise 2:
 Merge two Python dictionaries into one

In [2]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)

print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Exercise 3: 
Print the value of key ‘history’ from the
below dict

In [3]:
sampleDict = {
 "class": {
    "student": {
       "name": "Mike",
          "marks": {
            "physics": 70,
              "history": 80
             }
            }
          }
         }

print(sampleDict['class']['student']['marks']['history'])

80

# Exercise 4:
Print First 10 natural numbers using while
loop

In [4]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

# Exercise 5: 
Print the following pattern


---
Write a program to print the following number pattern using a loop.

In [5]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Exercise 7:
Write a program to print multiplication
table of a given number


---

For example, num = 2 so the output should be

In [6]:
num = 2
for i in range(1, 11):
    print(num * i)

2
4
6
8
10
12
14
16
18
20